.directganadores1{
  margin-left: 30px;
}

.directores-ganadores2{
margin-top: 100px;
}


.linea3{
  color: #F4D03F;
  width: 600px;
  margin-left: 27px;
  margin-top: 8px;
}
.sacha{

  margin-top: 35px;
  margin-left: 27px;
}

.destacado1{

margin-left: 27px;
top: 50px;
}

.text-1{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 19px;
  line-height: 20pt;
  margin-left: 27px;
  margin-top: 16px;
}



.chloe{
float: right;
margin-top: -351px;
margin-right: 833px;
}
.destacado2{
  float: right;
  margin-right: 900px;
  margin-top: -114px;
}
.text-2{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 19px;
  line-height: 20pt;
  margin-left: 27px;
  margin-top: 16px;
  float: right;
  margin-right: 955px;
  margin-top: -52px;
}

.anthony{
  float: right;
  margin-top: -351px;
  margin-right: 567px;
}
.destacado3{
  float: right;
  margin-right: 665px;
  margin-top: -114px;
}
.text-3{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 19px;
  line-height: 20pt;
  margin-left: 27px;
  margin-top: 16px;
  float: right;
  margin-top: -52px;
  margin-right: 640px;
}

.pacino{
  float: right;
  margin-top: -351px;
  margin-right: 301px;
}
.destacado4{
  float: right;
  margin-right: 400px;
  margin-top: -114px;
}
.text-4{
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 19px;
  line-height: 20pt;
  margin-left: 27px;
  margin-top: 16px;
  float: right;
  margin-top: -52px;
  margin-right: 440px;
}

.david{
  float: right;
  margin-top: -351px;
  margin-right: 32px;
}
.destacado5{
  float: right;
  margin-right: 110px;
  margin-top: -114px;
}
.text-5{
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 19px;
    line-height: 20pt;
    margin-left: 27px;
    margin-top: 16px;
    float: right;
    margin-top: -52px;
    margin-right: 135px;
}
