@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


.mejordirectora{
  margin-left: 47px;
}
.destacadodi{
color: white;
margin-top: 80px;
font-family: 'Open Sans', sans-serif;

}
.linea3{
    color: #F4D03F;
    width: 200px;
    margin-left: 0px;
    margin-top: 10px;
}
.mejordirectoraimg{
  font-family: 'Open Sans', sans-serif;

}

.tit{
  font-family: 'Open Sans', sans-serif;
}
.textoNombredi{
  font-size: 32px;
  color: #F4D03F;
  margin-top: -50px;
  margin-left: 12px;
  font-family: 'Open Sans', sans-serif;

}

.fechaimagen{
  font-size: 15px;
  color: #F4D03F;
  margin-top: -430px;
  margin-left: 20px;
  font-family: 'Asap', sans-serif;
  text-shadow: 0px 2px 4px black;

}
.textd{
  float: right;
  margin-right: 43px;
  margin-top: -4px;
}
.tit{
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
}
.parrafdirec{
  color: #EEEEEE;
  font-size: 18px;
  line-height: 25px;
  font-family: 'Asap', sans-serif;

}
